<!-- Main -->
<div class="view intro-2" style="">
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center white-text wow fadeInUp">

           <h2>AeroCat</h2>
            <br>
            <h5>Viajes para nuestros empleados en la mejor clase que puede existir!</h5>
            <p>Hacemos que tu viaje sea espectacular</p>
            <br>
            <p>Anímate a salir de la rutina y pegale un giro de locos con un viaje al otro lado del mundo, te llevamos a donde quieras, tú pones el destino</p>
            <br>
            <h5>Te esperamos</h5>
            
            <button mdbBtn type="button" color="indigo" mdbWavesEffect [routerLink]="[ '/Reservar' ]">Reservar Vuelo</button>

        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->